html, body {
  height: 100%; }

body {
  background: url("../img/connect.png"); }

a {
  text-decoration: none; }

.container {
  width: 960px;
  margin: 0 auto; }

h1 {
  text-align: center; }

.hero-unit {
  position: absolute;
  height: 100%;
  width: 100%;
  display: table; }
  .hero-unit .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .hero-unit h1 {
    font-size: 2em;
    margin-top: 0; }
  .hero-unit p {
    font-size: 1.3em; }

.answers ul {
  padding: 0;
  list-style: none;
  text-align: center; }
  .answers ul li {
    display: inline-block;
    margin: 0 10px; }
  .answers ul.result {
    display: none; }
.answers h2 {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle; }
