.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

html, body {
  height: 100%;
}

* {
  font-family: 'Gafata', sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
}

ul {
  margin: 0;
}

footer {
  margin-top: 70px !important;
  padding: 20px 0;
  border-top: 1px solid #D6D6D6;
  
  p {
    font-size: 1em;
    margin: 0;
    line-height: 1.4em;
    
    a {
      color: #089be4;
    }
  }
}

code * {
  font-family: monospace, serif;
}

pre {
  margin: 0;
}

.pure-button {
  font-size: 110%;
  font-weight: 600;
  color: white;
  padding: .5em 1.5em .65em;
  border-radius: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-stats {
  font-size: 50%;
}

.pure-button-secondary {
  background: rgb(66, 184, 221);
}

.pure-button-success {
  background: rgb(28, 184, 65);
}

.pure-button-error {
  background: #E43030;
}

.pure-button-large {
  font-size: 150%;
}

h1 {
  text-align: center;
  position: relative;
  font-size: 2.3em;
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  .pure-button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 44%;
    font-weight: 100;
    color: #444;
    padding-bottom: 0.5em;
    position: absolute;
    top: 4px;
    right: 0;
  }
}

h2 {
  text-align: center;
  margin: 2.3em 0 .7em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}

table {
  margin: 0 auto;
  
  td {
    padding: 7px 10px;
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    
    
    &:first-child {
      text-align: right;
      font-weight: 400;
    }
  
    &:last-child {
      text-align: left;
      font-weight: 100;
    }
  }
}

.hero-unit {
  position: absolute; 
  height: 100%; 
  width: 100%;
  display: table;

  .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  h1 {
    font-size: 2.4em;
    margin: 0;
  }
  
  p {
    font-size: 1.3em;
    margin: .7em 0 1.3em;
  }
}

.status {
  text-align: center;
  
  span {
    font-size: 1.4em;
    padding: 0 8px;
  }
}

.answers {
  ul {
    padding: 0;
    list-style: none;
    text-align: center;
    
    li {
      display: inline-block;
      margin: 0 7px;
    }
    
    &.result {
      display: none;
    }
  }
  
  h2 {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }
}
